<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>

<form method="post" action="/products/add" id="newproductform">
    <input type="text" name="name">
    <input type="number" name="price">
    <input type="submit" value="ADD">
</form>

<table border="1" cellpadding="10">
    <tr>
        <th> ID </th>
        <th> Product </th>
        <th> Price </th>
    </tr>
    {{#each products as |product|}}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    {{/each}}

</table>

</body>
</html>