<html>

<head>
    <title> {{title}} </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<ul>
    {{#each students as |stu|}}
        <li>{{stu}}</li>
    {{/each}}

</ul>

</body>

</html>